<!DOCTYPE html>
<html>
<head>
  <title>TaskTracker</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Navigation -->
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
                  <%= link_to "Disney's Imaginations", root_url, class: "navbar-brand" %>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav">
	                  <li>
                      <%= link_to '<i class="glyphicon glyphicon-asterisk">About</i>'.html_safe, root_path %>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tasks
                      <span class="caret"></span></a>
                      <ul class ="dropdown-menu">
                        <li>
                          <%= link_to '<i class="glyphicon glyphicon-th-list">  My Tasks</i>'.html_safe, todos_path %>
                        </li>
                        <li>
                          <%= link_to '<i class="glyphicon glyphicon-pencil">  New Task</i>'.html_safe, new_todo_path %>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <%- if current_user %>
                      <!-- TODO: Logout link is broken for some reason..? -->
                      <li>
                        <%= link_to '<i class="glyphicon glyphicon-log-out"> Logout</i>'.html_safe, logout_path %>
                      </li>
                    <% else %>
                      <li>
                        <%= link_to '<i class="glyphicon glyphicon-log-in"> Login</i>'.html_safe, login_path %>
                      </li>
                      <li>
                        <%= link_to '<i class="glyphicon glyphicon-user"> Register</i>', signup_path %>
                      </li>
                    <% end %>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>

	    <!-- Page Content -->
	    <div class="container">

	    	<div class="row">
		    	<div class="col-lg-12 text-center">
            <% flash.each do |a, b| %>
              <div class="alert alert-success"> <%= b %> </div>
            <% end %>
            <%= yield %>
		    	</div>
	    	</div>
	    	<!-- /.row -->
	    </div>
	    <!-- /.container -->
	  <style>body{padding-top:70px;}</style>
	</body>
	</html>
